.fourth {
  width: 100vw;
  height: 20vh;
  background: black;
  display: grid;
  grid-template-columns: 45% 45%;
  border: 1px solid black;
  color: white;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
.left {
  display: flex;
  color: white;
}
/* .right {
  display: flex;
  color: pink;
} */
