.Second {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 400px; */
}